.logoCol {
	color: white;
	text-decoration: none;
	padding-right: 20px;
}

.box-row {
	padding: 50px;
	display: flex;
	justify-content: center;
	gap: 30px;
}

.box {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;
	padding: 10px;
	transition: transform ease 0.3s;
}
.box:hover {
	transform: scale(1.05);
}

.selected {
	background-color: lightblue;
}

.wrapper-container {
	padding: 30px;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.about-container {
	border-radius: 10px;
	position: relative;
	width: 1000px !important;
	height: 400px;
	background-image: url("https://cdn.prod.website-files.com/5dc393eb429c1ad690f7818d/5f31693925e08a0d996e104d_man-being-productive-at-desk.jpg");
	background-size: cover;
	background-position: center;
	opacity: 0.9;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1rem;
	color: white;
}


.title {
	font-size: 50px;
	font-weight: 900;
	color: white;
	padding:50px;
	padding-top: 200px;
}
.slogan-text {
	font-size: 20px;
	font-weight: 600;
}

.header-columns{
	display: flex;
	background-image: url('https://preview.redd.it/3tgcrfk5o5t11.png?width=1920&format=png&auto=webp&s=a46b80d727f91d126ef03c80565045f73eb72b7c');
	background-size: cover;
	height: auto;
	width: 100%;
	position:relative;
	padding-bottom: 0;
}

.title-col{
	display:flex;
	flex: 1;
	flex-direction: column;
	padding: 40px;
	align-items: center;
	text-align: center;
	justify-content: center ;
	z-index: 1;
}
.wave {
	width: 100%;
	height: auto;
	display: block; 
  }

