{% extends "base.html" %} {% block meta %}
<meta
	name="google-signin-client_id"
	content="YOUR_CLIENT_ID.apps.googleusercontent.com"
/>
{% endblock %} {% block title %} Home Page {% endblock %} {% block content %}
<link
	rel="stylesheet"
	type="text/css"
	href="https://bootswatch.com/5/quartz/bootstrap.min.css"
/>
<link
	rel="stylesheet"
	type="text/css"
	href="https://bootswatch.com/5/quartz/bootstrap.min.css"
/>
<div class="container" style="width: 500px">
	<h1>Title of projects</h1>
	<p style="text-align: center">
		The purpose of this application is to make scheduling important school
		events much easier for students by just uploading a pdf and the rest is
		handled and your calendar is updated
	</p>
</div>
<div class="d-flex flex-column justify-content-center">
	<div class="d-flex justify-content-center gap-4">
		<div class="d-flex flex-column m-0">
			<label for="file-upload" class="btn btn-info bg-white text-black m-0 align-items-center h-100">
				Local Upload
        <p id="upload-filename" class="d-none"></p>
			</label>
			<input
				type="file"
				id="file-upload"
				style="display: none"
				onchange="handleFileUpload(event)"
			/>
		</div>
		<button
			id="authorize_button"
			class="btn btn-info bg-white text-black gap-1 align-items-center"
			onclick="handleAuthClick()"
		>
			<img
				src="https://imgs.search.brave.com/oMwyxbNaJljh7kuYGRIsUmuNijirC2PBKnkVDDxGMPA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9rc3Rh/dGljLmdvb2dsZXVz/ZXJjb250ZW50LmNv/bS9maWxlcy9kNTdi/MjQxMDZjMzRjN2U1/MGVmM2Q5ODQyM2I5/NGRkYWYzNWFkMmRh/NzNhOWI5ZDRkMTJm/NTJkYmI5ZGQ0YzA4/YzI5NTdmNjI1NWFi/ODY5MGQ1ZWYwYjMy/Y2ZmODI4N2UwOTU3/N2QwNWU0NzlkMjYz/ZTg3MjE2MGM0Yzll/ODM2Mw"
				alt="google drive"
				width="30"
			/>
			Upload from Google Drive
		</button>
		<button
			id="signout_button"
			class="btn btn-info"
			onclick="handleSignoutClick()"
		>
			Sign Out
		</button>
		<button id="load_button" class="btn btn-info" onclick="createPicker()">
			Load
		</button>
	</div>
	<embed src="" id="embed" width="500" height="500" />
	<script type="text/javascript">
		// Authorization scopes required by the API; multiple scopes can be
		// included, separated by spaces.
		const SCOPES =
			"https://www.googleapis.com/auth/drive.metadata.readonly https://www.googleapis.com/auth/drive.file";
		const CLIENT_ID = "{{ CLIENT_ID }}";
		const API_KEY = "{{ API_KEY }}";
		const APP_ID = "{{ APP_ID }}";

		let tokenClient;
		let accessToken = null;
		let pickerInited = false;
		let gisInited = false;

		document.getElementById("authorize_button").style.display = "flex";
		document.getElementById("load_button").style.display = "none";
		document.getElementById("signout_button").style.display = "none";

		/**
		 * Callback after api.js is loaded.
		 */
		function gapiLoaded() {
			gapi.load("client:picker", initializePicker);
		}

		/**
		 * Callback after the API client is loaded. Loads the
		 * discovery doc to initialize the API.
		 */
		async function initializePicker() {
			await gapi.client.load(
				"https://www.googleapis.com/discovery/v1/apis/drive/v3/rest"
			);
			pickerInited = true;
			maybeEnableButtons();
		}

		/**
		 * Callback after Google Identity Services are loaded.
		 */
		function gisLoaded() {
			tokenClient = google.accounts.oauth2.initTokenClient({
				client_id: CLIENT_ID,
				scope: SCOPES,
				callback: "http://127.0.0.1:8000", // defined later
			});
			gisInited = true;
			maybeEnableButtons();
		}

		/**
		 * Enables user interaction after all libraries are loaded.
		 */
		function maybeEnableButtons() {
			if (pickerInited && gisInited) {
				document.getElementById("authorize_button").style.display =
					"flex";
			}
		}

		/**
		 *  Sign in the user upon button click.
		 **/
		function handleAuthClick() {
			tokenClient.callback = async (response) => {
				if (response.error !== undefined) {
					throw response;
				}
				accessToken = response.access_token;
				document.getElementById("signout_button").style.display =
					"flex";
				document.getElementById("load_button").style.display = "flex";
				document.getElementById("authorize_button").style.display =
					"none";

				await createPicker();
			};

			if (accessToken === null) {
				// Prompt the user to select a Google Account and ask for consent to share their data
				// when establishing a new session.
				tokenClient.requestAccessToken({ prompt: "consent" });
			} else {
				// Skip display of account chooser and consent dialog for an existing session.
				tokenClient.requestAccessToken({ prompt: "" });
			}
		}

		/**
		 *  Sign out the user upon button click.
		 */
		function handleSignoutClick() {
			if (accessToken) {
				document.getElementById("authorize_button").style.display =
					"flex";
				document.getElementById("signout_button").style.display =
					"none";
				document.getElementById("load_button").style.display = "none";
				google.accounts.oauth2.revoke(accessToken);
				accessToken = null;
			}
		}

		/**
		 *  Create and render a Picker object for searching images.
		 */
		function createPicker() {
			const view = new google.picker.ViewGroup(google.picker.ViewId.DOCS)
				.addView(google.picker.ViewId.DOCUMENTS)
				.addView(google.picker.ViewId.PDFS);
			const picker = new google.picker.PickerBuilder()
				.enableFeature(google.picker.Feature.NAV_HIDDEN)
				.enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
				.setDeveloperKey(API_KEY)
				.setAppId(APP_ID)
				.setOAuthToken(accessToken)
				.addView(view)
				.addView(new google.picker.DocsUploadView())
				.setCallback(pickerCallback)
				.build();
			picker.setVisible(true);
		}

		/**
		 * Displays the file details of the user's selection.
		 * @param {object} data - Containers the user selection from the picker
		 */
		async function pickerCallback(data) {
			if (data.action === google.picker.Action.PICKED) {
				const document = data[google.picker.Response.DOCUMENTS][0];
				const fileId = document[google.picker.Document.ID];
				const res = await gapi.client.drive.files.get({
					fileId: fileId,
					fields: "id",
          alt: "media",
				});
				window.document.getElementById("embed").src =
					data.docs[0].embedUrl;
        console.log(res)
        console.log(`URL: ${JSON.stringify(data)}`);
        uploadFile(res);
			}
		}

		function handleFileUpload(event) {
			// Get the file name from the input
			const fileName = event.target.files[0]?.name || "No file selected";

			// Display the file name in the span
			document.getElementById("upload-filename").innerText = fileName;
      document.getElementById("upload-filename").classList.remove("d-none");

      // Upload the file
      uploadFile(event.target.files[0]);
		}

    function uploadFile(file) {
      const formData = new FormData();
      formData.append("file", file);

      fetch("/upload", {
        method: "POST",
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
	</script>
	<script
		async
		defer
		src="https://apis.google.com/js/api.js"
		onload="gapiLoaded()"
	></script>
	<script
		async
		defer
		src="https://accounts.google.com/gsi/client"
		onload="gisLoaded()"
	></script>
</div>
{% endblock %}
